<p id="notice"><%= notice %></p>

<p>
  <strong>Vector Patient:</strong>
  <%= @contact.patient.name %>
</p>

<p>
  <strong>Infected Patient:</strong>
  <%= @contact.infected.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @contact.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @contact.date %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
